.pageHeader{
    display : flex ;
    justify-content : center ;
    align-items : center ;
}
article{ 
    display : flex ;
    flex-wrap: wrap ; 
}
section{
    flex-direction : row;
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
}